@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Arapey');

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    width: 35vw;
    padding: 5px;

}
.nav {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
    border: 2px solid rgb(154, 156, 150);
}
.login {
    font-family: 'Shadows Into Light Two', cursive;
}
.link-wrap {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
    width: 100%;
    font-size: 28px;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 3px;
}
.Links {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-family: 'Arapey', serif;
    transition: all;
    color: black;
}
.Links:hover {
    transform: scale(1.1);
}
.login {
    text-decoration: none;
}
.cart {
    height: 30px;
}
/* hamburger menu */
label {
    display:none;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    width: 26px;
    float: right;
}
#toggle {
    display:none;
}
@media only screen and (max-width: 657px) {
    .nav {
        border: 2px solid rgb(154, 156, 150);
        border-top: 0.25px solid #666;
        border-bottom: 0.25px solid #666;
        text-align: right;
        height: 50px;
        line-height: 50px;
    }
    .link-wrap {
        height: 50px;
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-end;
	    align-items: center;
	    align-content: stretch;
    }
    .Links {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        font-family: 'Arapey', serif;
        font-size: 17px;
        transition: all;
        color: black;
    }
    .cart {
        height: 20px;
    }
    /* label {
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
    }
     #toggle:checked + .menu {
        display: block;
    } */
    .logo {
        width: 47vw;
        padding: 5px;
    }
}