@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Arapey');

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    width: 35vw;
    padding: 5px;
    
}
.desktop-nav {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
    border: 2px solid rgb(154, 156, 150);
}
.mobile-nav {
    display: none;
}
.login {
    font-family: 'Shadows Into Light Two', cursive;
}
.link-wrap {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
    width: 100%;
    font-size: 28px;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 3px;
}
.desktop-links {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-family: 'Arapey', serif;
    transition: all;
    color: black;
}
.desktop-links:hover {
    transform: scale(1.1);
}
.login {
    text-decoration: none;
}
.cart {
    height: 30px;
}
.mobile-header {
    display: none;
}
@media only screen and (max-width: 657px) {
    .desktop-nav {
        /* border: 2px solid rgb(154, 156, 150);
        border-top: 0.25px solid #666;
        border-bottom: 0.25px solid #666;
        text-align: right;
        height: 50px;
        line-height: 50px; */
        display: none;
    }
    .desktop-links {
        /* display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        font-family: 'Arapey', serif;
        font-size: 17px;
        transition: all;
        color: black; */
        display: none;
    }
    .mobile-nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid rgb(154, 156, 150);
        border-top: 0.25px solid #666;
        border-bottom: 0.25px solid #666;
        z-index: 2;
    }
    .mobile-header {
        display: block;
        /* border: 2px solid rgb(154, 156, 150);
        border-top: 0.25px solid #666;
        border-bottom: 0.25px solid #666; */
        text-align: right;
        /* height: 50px;
        line-height: 50px; */
    }
    .mobileLinks {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        font-family: 'Arapey', serif;
        transition: all;
        color: black;
        padding: 7px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .mobile-link-wrap {
        height: 35px;
        width: 99%;
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-end;
	    align-items: center;
        align-content: stretch;
        background-color: rgba(255, 255, 255, 0.6);
        border: 2px solid rgb(154, 156, 150);
        border-top: 0.25px solid #666;
        border-bottom: 0.25px solid #666;
        position: absolute;
        top: 53px;
    }
    .mobile-cart {
        height: 20px;
    }
    .logo {
        width: 47vw;
        padding: 5px;
    }
    .nav-button {
        margin: 0;
        padding: 0;
        width: 100px;
        height: 30px;
        font-size: 35px;
        position: absolute;
        top: -51px;
        left: 333px;
        z-index: 555;
    }
    .slide-menu {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: -400px;
        transition: .65s;
        z-index: 1;
    }
    .slide-menu-position {
        top: -60px;
    }
    .menu-text {
        opacity: 0;
        transition-property: opacity;
        transition-delay: .35s;
        transition-duration: .5s;
      }
      .menu-text-fade-in {
        opacity: 1;
      }
      .box {
        width: 27%;
        height: 120px;
        position: relative;
        top: -160px;
        transition: top .5s .2s;
    }
    .mobileLinks-slide {
        transition: top .5s .2s;
        top: 0px;
    }
}