@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.tree1 {
    height: 75vh;
}
.tree2 {
    height: 75vh;
}
.tree3 {
    height: 75vh;
}
.tree4 {
    height: 75vh;
}
.tree5 {
    height: 75vh;
}
.tree6 {
    height: 75vh;
}
.tree7 {
    height: 75vh;
}
.tree8 {
    height: 75vh;
}
.tree9 {
    height: 75vh;
}
.tree10 {
    height: 75vh;
}
.tree11 {
    height: 75vh;
}
.tree12 {
    height: 75vh;
}
.tree13 {
    height: 75vh;
}
.tree14 {
    height: 75vh;
}