.list1 {
    font-family: cursive;
    padding: 30px;
}
.list2 {
    font-family: cursive;
    padding: 30px;
}
.list3 {
    font-family: cursive;
    padding: 30px;
}
.list4 {
    font-family: cursive;
    padding: 30px;
}