@import url('https://fonts.googleapis.com/css?family=Arapey');
.all {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image {
    height: 50vh;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.image-span {
    padding: 30px;
}
.about-me {
    font-family: 'Arapey', cursive;
    padding: 30px;
}