.temporary_image {
    height: 79vh;
}
.footer {
    background: cornsilk;
    height: 100px;
}
.social-media-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: cornsilk;
}
.Facebook_logo {
    height: 40px;
    padding: 2px;
}
.Instagram_logo {
    height: 40px;
    padding: 2px;
}
.Pinterest_logo {
    height: 40px;
    padding: 2px;
}
.review {
    font-family: cursive;
    
}