.social-media-links {
    display: grid;
    grid-template-columns: 40px 40px 40px 7fr;
    grid-gap: 5px;
    background: cornsilk;
    padding: 20px;
}
.Facebook_logo {
    height: 40px;
    padding: 2px;
}
.Instagram_logo {
    height: 40px;
    padding: 2px;
}
.Pinterest_logo {
    height: 40px;
    padding: 2px;
}
.review {
    font-family: cursive;
    
}