@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
.social-media-links {
    display: grid;
    grid-template-columns: 40px 40px 40px 7fr;
    grid-gap: 5px;
    padding: 20px;
}
.Facebook_logo {
    height: 40px;
    padding: 2px;
}
.Instagram_logo {
    height: 40px;
    padding: 2px;
}
.Pinterest_logo {
    height: 40px;
    padding: 2px;
}
.review {
    font-family: 'Shadows Into Light Two', cursive;   
    background-color: rgba(255, 255, 255, 0.6);

}
.stars {
    grid-column: span 4;
    height: 5vh;
    grid-column-start: 4;
    justify-self: center;
    padding-right: 140px;
    padding-top: 10px;
}



@media(max-width: 414px) {
    .social-media-links {
        display: block;
    }
    .Facebook_logo {
        height: 40px;
        padding-right: 15px;
    }
    .Instagram_logo {
        height: 40px;
        padding-right: 15px;
    }
    .Pinterest_logo {
        height: 40px;
        padding-right: 15px;
    }
    .review {
        font-family: 'Shadows Into Light Two', cursive;   
    }
    .stars {
        grid-column: span 4;
        height: 5vh;
        grid-column-start: 4;
        justify-self: center;
        padding-right: 0;
    }
}