@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Arapey');
.header {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
    align-content: center;
    font-family: 'Arapey', cursive;
}
.Facebook_logo:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.Instagram_logo:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.Pinterest_logo:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.container {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.left {
    border: 1px solid black;
    padding: 5px;
    width: 45vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
    font-family: 'Arapey';
    font-size: 16px;
  }
.right {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    border: 1px solid black;
    padding: 5px;
    width: 45vw;
    height: 60vh;
}
.name {
    margin: 5px;
    width: 30vw;
    height: 25px;
    background-color:rgba(255, 255, 255, 0.5);
}
.email {
    margin: 5px;
    width: 30vw;
    height: 25px;
    background-color:rgba(255, 255, 255, 0.5);
}
.subject {
    margin: 5px;
    width: 30vw;
    height: 25px;
    background-color:rgba(255, 255, 255, 0.5);
}
.message {
    height: 25vh;
    width: 30vw;
    margin: 5px;
    background-color:rgba(255, 255, 255, 0.5);
}
.send {
    padding: 1px 20px;
    border-radius: 25px;
    background-color:rgba(255, 255, 255, 0.5);
}
.send:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #DCDCDC;
}