.container {
    display: grid;
    grid-template-columns: 100px 4fr  5fr;
}

.left {
      display: grid;
      grid-auto-rows: repeat(5, 1fr);
      background-color: #999;
  }
.middle {
    display: grid;
    grid-auto-rows: repeat(5, 1fr);
    background-color: #999;
}